In [2]:
# For Venn diagrams
%pip install matplotlib-venn

import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})
from matplotlib_venn import venn2 # `pip install matplotlib-venn`

Checking that we are using the correct data-subfolder and that it consist of the data we want' to work with

In [7]:
import os 

# Using assert to check that paths exist on computer.
assert os.path.isdir('data/')
assert os.path.isfile('data/population_2.xlsx')
assert os.path.isfile('data/Prices.csv')
assert os.path.isfile('data/Quantity.csv')

# Print everything in data
os.listdir('data/')

['population_2.xlsx', 'population_px.px', 'Prices.csv', 'Quantity.csv']

Reading in data

In [5]:
pop = pd.read_excel('Data/population_2.xlsx')
p = pd.read_csv('Data/Prices.csv')
q = pd.read_csv('Data/Quantity.csv')

Look at datasets

In [34]:
p.sample()

      Year   ID Municipality   Category  Price Currency
5274  2015  181         Wila  35-L-Sack    1.5      CHF

In [35]:
q.sample()

       Year   ID Municipality   Type  Value_t    Unit
17893  2009  115       Gossau  Altöl      4.0  Tonnen

In [44]:
pop.head(5)
#Unnamed:2 = Municipality
#Unnamed:5 = Population

,Demographic balance by institutional units,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Population on 31 December
2,2000,2000.0,- Zürich,Citizenship (category) - total,Sex - total,1211647
3,NaN,NaN,>> Bezirk Affoltern,Citizenship (category) - total,Sex - total,41455
4,NaN,NaN,......0001 Aeugst am Albis,Citizenship (category) - total,Sex - total,1517

Renaming variables

In [47]:
pop.rename(columns = {'Unnamed: 2':'municipality', 'Unnamed: 5' : 'population'}, inplace=True)
pop.head(5)

,Demographic balance by institutional units,Unnamed: 1,municipality,Unnamed: 3,Unnamed: 4,population
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Population on 31 December
2,2000,2000.0,- Zürich,Citizenship (category) - total,Sex - total,1211647
3,NaN,NaN,>> Bezirk Affoltern,Citizenship (category) - total,Sex - total,41455
4,NaN,NaN,......0001 Aeugst am Albis,Citizenship (category) - total,Sex - total,1517

In [43]:
print(f'Years in p: {p.Year.unique()}')
print(f'Municipalities in p = {len(p.Municipality.unique())}')
print(f'Years in q: {q.Year.unique()}')
print(f'Municipalities in q = {len(q.Municipality.unique())}')
print(f'Years in pop: {pop.Unnamed: 1.unique()}')
print(f'Municipalities in pop = {len(pop.Municipality.unique())}')

Years in p: [2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009
 2008 2007 2006 2005 2004 2003 2002 2001 2000]
Municipalities in p = 162
Years in q: [2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008
 2007 2006 2005 2004 2003 2002 2001 2000]
Municipalities in q = 162

AttributeError: 'DataFrame' object has no attribute 'Unnamed'

In [27]:
pop

,Demographic balance by institutional units,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Population on 31 December
2,2000,2000.0,- Zürich,Citizenship (category) - total,Sex - total,1211647
3,NaN,NaN,>> Bezirk Affoltern,Citizenship (category) - total,Sex - total,41455
4,NaN,NaN,......0001 Aeugst am Albis,Citizenship (category) - total,Sex - total,1517
...,...,...,...,...,...,...
3887,Database:,NaN,NaN,NaN,NaN,NaN
3888,"FSO - STAT-TAB / Federal Statistical Office, 2...",NaN,NaN,NaN,NaN,NaN
3889,NaN,NaN,NaN,NaN,NaN,NaN
3890,Internal reference code:,NaN,NaN,NaN,NaN,NaN
3891,px-x-0102020000_201,NaN,NaN,NaN,NaN,NaN