In [1]:
# For Venn diagrams
%pip install matplotlib-venn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})
from matplotlib_venn import venn2 # `pip install matplotlib-venn`

Requirement already satisfied: matplotlib-venn in c:\users\marius\anaconda3\lib\site-packages (0.11.9)
Requirement already satisfied: numpy in c:\users\marius\anaconda3\lib\site-packages (from matplotlib-venn) (1.23.5)
Requirement already satisfied: matplotlib in c:\users\marius\anaconda3\lib\site-packages (from matplotlib-venn) (3.6.2)
Requirement already satisfied: scipy in c:\users\marius\anaconda3\lib\site-packages (from matplotlib-venn) (1.9.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (22.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (9.3.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (1.0.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\marius\anaconda3\lib\site-packages (from matplotlib->matplotlib-venn) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\users\marius\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->matplotlib-venn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Checking that we are using the correct data-subfolder and that it consist of the data we want' to work with

In [2]:
import os 

# Using assert to check that paths exist on computer.
assert os.path.isdir('data/')
assert os.path.isfile('data/population_2.xlsx')
assert os.path.isfile('data/Prices.csv')
assert os.path.isfile('data/Quantity.csv')

# Print everything in data
os.listdir('data/')

['population_2.xlsx', 'population_px.px', 'Prices.csv', 'Quantity.csv']

Reading in data

In [3]:
pop = pd.read_excel('Data/population_2.xlsx') 
p = pd.read_csv('Data/Prices.csv')
q = pd.read_csv('Data/Quantity.csv')

Look at datasets

In [ ]:
p.sample(5)

In [ ]:
q.sample(5)

In [ ]:
pop.sample(5)
#Unnamed:2 = Municipality
#Unnamed:5 = Population

In [ ]:
pop.describe()

In [ ]:
pop.info()

Cleaning the pop data

In [4]:
pop = pd.read_excel('Data/population_2.xlsx', skiprows=2)
pop.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Population on 31 December
0,2000,2000.0,- Zürich,Citizenship (category) - total,Sex - total,1211647.0
1,NaN,NaN,>> Bezirk Affoltern,Citizenship (category) - total,Sex - total,41455.0
2,NaN,NaN,......0001 Aeugst am Albis,Citizenship (category) - total,Sex - total,1517.0
3,NaN,NaN,......0002 Affoltern am Albis,Citizenship (category) - total,Sex - total,9933.0
4,NaN,NaN,......0003 Bonstetten,Citizenship (category) - total,Sex - total,3896.0

Renaming variables in population DataFrame

In [5]:
pop.rename(columns = {'Unnamed: 2':'Municipality', 'Population on 31 December' : 'Population', 'Unnamed: 1' : 'Year'}, inplace=True)
pop.head(5)

,Unnamed: 0,Year,Municipality,Unnamed: 3,Unnamed: 4,Population
0,2000,2000.0,- Zürich,Citizenship (category) - total,Sex - total,1211647.0
1,NaN,NaN,>> Bezirk Affoltern,Citizenship (category) - total,Sex - total,41455.0
2,NaN,NaN,......0001 Aeugst am Albis,Citizenship (category) - total,Sex - total,1517.0
3,NaN,NaN,......0002 Affoltern am Albis,Citizenship (category) - total,Sex - total,9933.0
4,NaN,NaN,......0003 Bonstetten,Citizenship (category) - total,Sex - total,3896.0

Printing list of years and number of municipalities in all three datasets

In [6]:
print(f'Years in p: {p.Year.unique()}')
print(f'Municipalities in p = {len(p.Municipality.unique())}')
print(f'Years in q: {q.Year.unique()}')
print(f'Municipalities in q = {len(q.Municipality.unique())}')
print(f'Years in pop: {pop.Year.unique()}')
print(f'Municipalities in pop = {len(pop.Municipality.unique())}')

Years in p: [2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009
 2008 2007 2006 2005 2004 2003 2002 2001 2000]
Municipalities in p = 162
Years in q: [2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008
 2007 2006 2005 2004 2003 2002 2001 2000]
Municipalities in q = 162
Years in pop: [2000.   nan 2001. 2002. 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010.
 2011. 2012. 2013. 2014. 2015. 2016. 2017. 2018. 2019. 2020. 2021.]
Municipalities in pop = 176

Checkin differences in years

In [7]:
#Checking for diff. in years between p and q
diff_y = [y for y in p.Year.unique() if y not in q.Year.unique()] 
print(f'years in p data, but not in q data: {diff_y}')

#Checking for diff. in years between q and p
diff_y1 = [y1 for y1 in q.Year.unique() if y1 not in p.Year.unique()] 
print(f'years in q data, but not in p data: {diff_y1}')

#Checking for differences in years between p and pop
diff_z = [z for z in p.Year.unique() if z not in pop.Year.unique()] 
print(f'years in p data, but not in pop data: {diff_z}')

#Checking for differences in years between pop and p
diff_z1 = [z1 for z1 in pop.Year.unique() if z1 not in p.Year.unique()] 
print(f'years in pop data, but not in p data: {diff_z1}')

#Checking for diff. in years between q and pop
diff_v = [v for v in q.Year.unique() if v not in pop.Year.unique()] 
print(f'years in q data, but not in pop data: {diff_v}')

#Checking for diff. in years between pop and q
diff_v1 = [v1 for v1 in pop.Year.unique() if v1 not in q.Year.unique()] 
print(f'years in pop data, but not in q data: {diff_v1}')

years in p data, but not in q data: [2022]
years in q data, but not in p data: []
years in p data, but not in pop data: [2022]
years in pop data, but not in p data: [nan]
years in q data, but not in pop data: []
years in pop data, but not in q data: [nan]

Checking for differences in municipalities

In [8]:
#Checking for diff in municipalities between p and q
diff_x = [x for x in p.Municipality.unique() if x not in q.Municipality.unique()] 
print(f'municipality in p data, but not in q data: {diff_x}')

#Checking for diff in municipalities between q and p
diff_x1 = [x1 for x1 in q.Municipality.unique() if x1 not in p.Municipality.unique()] 
print(f'municipality in q data, but not in p data: {diff_x1}')

#Checking for diff in municiplaties between p and pop
diff_w = [w for w in p.Municipality.unique() if w not in pop.Municipality.unique()] 
print(f'municipality in p data, but not in pop data: {diff_w}')

#Checking for diff in municiplaties between pop and p
diff_w1 = [w1 for w1 in pop.Municipality.unique() if w1 not in p.Municipality.unique()] 
print(f'municipality in pop data, but not in p data: {diff_w1}')

#Checking for diff in municipalities between q and pop
diff_h = [h for h in q.Municipality.unique() if h not in pop.Municipality.unique()] 
print(f'municipality in q data, but not in pop data: {diff_h}')

#Checking for diff in municipalities between pop and q
diff_h1 = [h1 for h1 in pop.Municipality.unique() if h1 not in q.Municipality.unique()] 
print(f'municipality in pop data, but not in q data: {diff_h1}')

municipality in p data, but not in q data: []
municipality in q data, but not in p data: []
municipality in p data, but not in pop data: ['Aeugst a.A.', 'Affoltern a.A.', 'Bonstetten', 'Hausen a.A.', 'Hedingen', 'Kappel a.A.', 'Knonau', 'Maschwanden', 'Mettmenstetten', 'Obfelden', 'Ottenbach', 'Rifferswil', 'Stallikon', 'Wettswil a.A.', 'Adlikon', 'Benken', 'Berg a.I.', 'Buch a.I.', 'Dachsen', 'Dorf', 'Feuerthalen', 'Flaach', 'Flurlingen', 'Andelfingen', 'Henggart', 'Humlikon', 'Kleinandelfingen', 'Laufen-Uhwiesen', 'Marthalen', 'Ossingen', 'Rheinau', 'Thalheim a.d.Th.', 'Trüllikon', 'Truttikon', 'Volken', 'Bachenbülach', 'Bassersdorf', 'Bülach', 'Dietlikon', 'Eglisau', 'Embrach', 'Freienstein-Teufen', 'Glattfelden', 'Hochfelden', 'Höri', 'Hüntwangen', 'Kloten', 'Lufingen', 'Nürensdorf', 'Oberembrach', 'Opfikon', 'Rafz', 'Rorbas', 'Wallisellen', 'Wasterkingen', 'Wil', 'Winkel', 'Bachs', 'Boppelsen', 'Buchs', 'Dällikon', 'Dänikon', 'Dielsdorf', 'Hüttikon', 'Neerach', 'Niederglatt', 'Niederhasli', 'Niederweningen', 'Oberglatt', 'Oberweningen', 'Otelfingen', 'Regensberg', 'Regensdorf', 'Rümlang', 'Schleinikon', 'Schöfflisdorf', 'Stadel', 'Steinmaur', 'Weiach', 'Bäretswil', 'Bubikon', 'Dürnten', 'Fischenthal', 'Gossau', 'Grüningen', 'Hinwil', 'Rüti', 'Seegräben', 'Wald', 'Wetzikon', 'Adliswil', 'Kilchberg', 'Langnau a.A.', 'Oberrieden', 'Richterswil', 'Rüschlikon', 'Thalwil', 'Erlenbach', 'Herrliberg', 'Hombrechtikon', 'Küsnacht', 'Männedorf', 'Meilen', 'Oetwil a.S.', 'Stäfa', 'Uetikon a.S.', 'Zumikon', 'Zollikon', 'Fehraltorf', 'Hittnau', 'Lindau', 'Pfäffikon', 'Russikon', 'Weisslingen', 'Wila', 'Wildberg', 'Dübendorf', 'Egg', 'Fällanden', 'Greifensee', 'Maur', 'Mönchaltorf', 'Schwerzenbach', 'Uster', 'Volketswil', 'Wangen-Brüttisellen', 'Altikon', 'Brütten', 'Dägerlen', 'Dättlikon', 'Dinhard', 'Ellikon a.d.Th.', 'Elsau', 'Hagenbuch', 'Hettlingen', 'Neftenbach', 'Pfungen', 'Rickenbach', 'Schlatt', 'Seuzach', 'Turbenthal', 'Winterthur', 'Zell', 'Aesch', 'Birmensdorf', 'Dietikon', 'Geroldswil', 'Oberengstringen', 'Oetwil a.d.L', 'Schlieren', 'Uitikon', 'Unterengstringen', 'Urdorf', 'Weiningen', 'Zürich', 'Stammheim', 'Wädenswil', 'Elgg', 'Horgen', 'Illnau-Effretikon', 'Bauma', 'Wiesendangen']
municipality in pop data, but not in p data: ['- Zürich', '>> Bezirk Affoltern', '......0001 Aeugst am Albis', '......0002 Affoltern am Albis', '......0003 Bonstetten', '......0004 Hausen am Albis', '......0005 Hedingen', '......0006 Kappel am Albis', '......0007 Knonau', '......0008 Maschwanden', '......0009 Mettmenstetten', '......0010 Obfelden', '......0011 Ottenbach', '......0012 Rifferswil', '......0013 Stallikon', '......0014 Wettswil am Albis', '>> Bezirk Andelfingen', '......0021 Adlikon', '......0022 Benken (ZH)', '......0023 Berg am Irchel', '......0024 Buch am Irchel', '......0025 Dachsen', '......0026 Dorf', '......0027 Feuerthalen', '......0028 Flaach', '......0029 Flurlingen', '......0030 Andelfingen', '......0031 Henggart', '......0032 Humlikon', '......0033 Kleinandelfingen', '......0034 Laufen-Uhwiesen', '......0035 Marthalen', '......0037 Ossingen', '......0038 Rheinau', '......0039 Thalheim an der Thur', '......0040 Trüllikon', '......0041 Truttikon', '......0043 Volken', '......0292 Stammheim', '>> Bezirk Bülach', '......0051 Bachenbülach', '......0052 Bassersdorf', '......0053 Bülach', '......0054 Dietlikon', '......0055 Eglisau', '......0056 Embrach', '......0057 Freienstein-Teufen', '......0058 Glattfelden', '......0059 Hochfelden', '......0060 Höri', '......0061 Hüntwangen', '......0062 Kloten', '......0063 Lufingen', '......0064 Nürensdorf', '......0065 Oberembrach', '......0066 Opfikon', '......0067 Rafz', '......0068 Rorbas', '......0069 Wallisellen', '......0070 Wasterkingen', '......0071 Wil (ZH)', '......0072 Winkel', '>> Bezirk Dielsdorf', '......0081 Bachs', '......0082 Boppelsen', '......0083 Buchs (ZH)', '......0084 Dällikon', '......0085 Dänikon', '......0086 Dielsdorf', '......0087 Hüttikon', '......0088 Neerach', '......0089 Niederglatt', '......0090 Niederhasli', '......0091 Niederweningen', '......0092 Oberglatt', '......0093 Oberweningen', '......0094 Otelfingen', '......0095 Regensberg', '......0096 Regensdorf', '......0097 Rümlang', '......0098 Schleinikon', '......0099 Schöfflisdorf', '......0100 Stadel', '......0101 Steinmaur', '......0102 Weiach', '>> Bezirk Hinwil', '......0111 Bäretswil', '......0112 Bubikon', '......0113 Dürnten', '......0114 Fischenthal', '......0115 Gossau (ZH)', '......0116 Grüningen', '......0117 Hinwil', '......0118 Rüti (ZH)', '......0119 Seegräben', '......0120 Wald (ZH)', '......0121 Wetzikon (ZH)', '>> Bezirk Horgen', '......0131 Adliswil', '......0135 Kilchberg (ZH)', '......0136 Langnau am Albis', '......0137 Oberrieden', '......0138 Richterswil', '......0139 Rüschlikon', '......0141 Thalwil', '......0293 Wädenswil', '......0295 Horgen', '>> Bezirk Meilen', '......0151 Erlenbach (ZH)', '......0152 Herrliberg', '......0153 Hombrechtikon', '......0154 Küsnacht (ZH)', '......0155 Männedorf', '......0156 Meilen', '......0157 Oetwil am See', '......0158 Stäfa', '......0159 Uetikon am See', '......0160 Zumikon', '......0161 Zollikon', '>> Bezirk Pfäffikon', '......0172 Fehraltorf', '......0173 Hittnau', '......0176 Lindau', '......0177 Pfäffikon', '......0178 Russikon', '......0180 Weisslingen', '......0181 Wila', '......0182 Wildberg', '......0296 Illnau-Effretikon', '......0297 Bauma', '>> Bezirk Uster', '......0191 Dübendorf', '......0192 Egg', '......0193 Fällanden', '......0194 Greifensee', '......0195 Maur', '......0196 Mönchaltorf', '......0197 Schwerzenbach', '......0198 Uster', '......0199 Volketswil', '......0200 Wangen-Brüttisellen', '>> Bezirk Winterthur', '......0211 Altikon', '......0213 Brütten', '......0214 Dägerlen', '......0215 Dättlikon', '......0216 Dinhard', '......0218 Ellikon an der Thur', '......0219 Elsau', '......0220 Hagenbuch', '......0221 Hettlingen', '......0223 Neftenbach', '......0224 Pfungen', '......0225 Rickenbach (ZH)', '......0226 Schlatt (ZH)', '......0227 Seuzach', '......0228 Turbenthal', '......0230 Winterthur', '......0231 Zell (ZH)', '......0294 Elgg', '......0298 Wiesendangen', '>> Bezirk Dietikon', '......0241 Aesch (ZH)', '......0242 Birmensdorf (ZH)', '......0243 Dietikon', '......0244 Geroldswil', '......0245 Oberengstringen', '......0246 Oetwil an der Limmat', '......0247 Schlieren', '......0248 Uitikon', '......0249 Unterengstringen', '......0250 Urdorf', '......0251 Weiningen (ZH)', '>> Bezirk Zürich', '......0261 Zürich', nan]
municipality in q data, but not in pop data: ['Aeugst a.A.', 'Affoltern a.A.', 'Bonstetten', 'Hausen a.A.', 'Hedingen', 'Kappel a.A.', 'Knonau', 'Maschwanden', 'Mettmenstetten', 'Obfelden', 'Ottenbach', 'Rifferswil', 'Stallikon', 'Wettswil a.A.', 'Adlikon', 'Benken', 'Berg a.I.', 'Buch a.I.', 'Dachsen', 'Dorf', 'Feuerthalen', 'Flaach', 'Flurlingen', 'Andelfingen', 'Henggart', 'Humlikon', 'Kleinandelfingen', 'Laufen-Uhwiesen', 'Marthalen', 'Ossingen', 'Rheinau', 'Thalheim a.d.Th.', 'Trüllikon', 'Truttikon', 'Volken', 'Bachenbülach', 'Bassersdorf', 'Bülach', 'Dietlikon', 'Eglisau', 'Embrach', 'Freienstein-Teufen', 'Glattfelden', 'Hochfelden', 'Höri', 'Hüntwangen', 'Kloten', 'Lufingen', 'Nürensdorf', 'Oberembrach', 'Opfikon', 'Rafz', 'Rorbas', 'Wallisellen', 'Wasterkingen', 'Wil', 'Winkel', 'Bachs', 'Boppelsen', 'Buchs', 'Dällikon', 'Dänikon', 'Dielsdorf', 'Hüttikon', 'Neerach', 'Niederglatt', 'Niederhasli', 'Niederweningen', 'Oberglatt', 'Oberweningen', 'Otelfingen', 'Regensberg', 'Regensdorf', 'Rümlang', 'Schleinikon', 'Schöfflisdorf', 'Stadel', 'Steinmaur', 'Weiach', 'Bäretswil', 'Bubikon', 'Dürnten', 'Fischenthal', 'Gossau', 'Grüningen', 'Hinwil', 'Rüti', 'Seegräben', 'Wald', 'Wetzikon', 'Adliswil', 'Kilchberg', 'Langnau a.A.', 'Oberrieden', 'Richterswil', 'Rüschlikon', 'Thalwil', 'Erlenbach', 'Herrliberg', 'Hombrechtikon', 'Küsnacht', 'Männedorf', 'Meilen', 'Oetwil a.S.', 'Stäfa', 'Uetikon a.S.', 'Zumikon', 'Zollikon', 'Fehraltorf', 'Hittnau', 'Lindau', 'Pfäffikon', 'Russikon', 'Weisslingen', 'Wila', 'Wildberg', 'Dübendorf', 'Egg', 'Fällanden', 'Greifensee', 'Maur', 'Mönchaltorf', 'Schwerzenbach', 'Uster', 'Volketswil', 'Wangen-Brüttisellen', 'Altikon', 'Brütten', 'Dägerlen', 'Dättlikon', 'Dinhard', 'Ellikon a.d.Th.', 'Elsau', 'Hagenbuch', 'Hettlingen', 'Neftenbach', 'Pfungen', 'Rickenbach', 'Schlatt', 'Seuzach', 'Turbenthal', 'Winterthur', 'Zell', 'Aesch', 'Birmensdorf', 'Dietikon', 'Geroldswil', 'Oberengstringen', 'Oetwil a.d.L', 'Schlieren', 'Uitikon', 'Unterengstringen', 'Urdorf', 'Weiningen', 'Zürich', 'Stammheim', 'Wädenswil', 'Elgg', 'Horgen', 'Illnau-Effretikon', 'Bauma', 'Wiesendangen']
municipality in pop data, but not in q data: ['- Zürich', '>> Bezirk Affoltern', '......0001 Aeugst am Albis', '......0002 Affoltern am Albis', '......0003 Bonstetten', '......0004 Hausen am Albis', '......0005 Hedingen', '......0006 Kappel am Albis', '......0007 Knonau', '......0008 Maschwanden', '......0009 Mettmenstetten', '......0010 Obfelden', '......0011 Ottenbach', '......0012 Rifferswil', '......0013 Stallikon', '......0014 Wettswil am Albis', '>> Bezirk Andelfingen', '......0021 Adlikon', '......0022 Benken (ZH)', '......0023 Berg am Irchel', '......0024 Buch am Irchel', '......0025 Dachsen', '......0026 Dorf', '......0027 Feuerthalen', '......0028 Flaach', '......0029 Flurlingen', '......0030 Andelfingen', '......0031 Henggart', '......0032 Humlikon', '......0033 Kleinandelfingen', '......0034 Laufen-Uhwiesen', '......0035 Marthalen', '......0037 Ossingen', '......0038 Rheinau', '......0039 Thalheim an der Thur', '......0040 Trüllikon', '......0041 Truttikon', '......0043 Volken', '......0292 Stammheim', '>> Bezirk Bülach', '......0051 Bachenbülach', '......0052 Bassersdorf', '......0053 Bülach', '......0054 Dietlikon', '......0055 Eglisau', '......0056 Embrach', '......0057 Freienstein-Teufen', '......0058 Glattfelden', '......0059 Hochfelden', '......0060 Höri', '......0061 Hüntwangen', '......0062 Kloten', '......0063 Lufingen', '......0064 Nürensdorf', '......0065 Oberembrach', '......0066 Opfikon', '......0067 Rafz', '......0068 Rorbas', '......0069 Wallisellen', '......0070 Wasterkingen', '......0071 Wil (ZH)', '......0072 Winkel', '>> Bezirk Dielsdorf', '......0081 Bachs', '......0082 Boppelsen', '......0083 Buchs (ZH)', '......0084 Dällikon', '......0085 Dänikon', '......0086 Dielsdorf', '......0087 Hüttikon', '......0088 Neerach', '......0089 Niederglatt', '......0090 Niederhasli', '......0091 Niederweningen', '......0092 Oberglatt', '......0093 Oberweningen', '......0094 Otelfingen', '......0095 Regensberg', '......0096 Regensdorf', '......0097 Rümlang', '......0098 Schleinikon', '......0099 Schöfflisdorf', '......0100 Stadel', '......0101 Steinmaur', '......0102 Weiach', '>> Bezirk Hinwil', '......0111 Bäretswil', '......0112 Bubikon', '......0113 Dürnten', '......0114 Fischenthal', '......0115 Gossau (ZH)', '......0116 Grüningen', '......0117 Hinwil', '......0118 Rüti (ZH)', '......0119 Seegräben', '......0120 Wald (ZH)', '......0121 Wetzikon (ZH)', '>> Bezirk Horgen', '......0131 Adliswil', '......0135 Kilchberg (ZH)', '......0136 Langnau am Albis', '......0137 Oberrieden', '......0138 Richterswil', '......0139 Rüschlikon', '......0141 Thalwil', '......0293 Wädenswil', '......0295 Horgen', '>> Bezirk Meilen', '......0151 Erlenbach (ZH)', '......0152 Herrliberg', '......0153 Hombrechtikon', '......0154 Küsnacht (ZH)', '......0155 Männedorf', '......0156 Meilen', '......0157 Oetwil am See', '......0158 Stäfa', '......0159 Uetikon am See', '......0160 Zumikon', '......0161 Zollikon', '>> Bezirk Pfäffikon', '......0172 Fehraltorf', '......0173 Hittnau', '......0176 Lindau', '......0177 Pfäffikon', '......0178 Russikon', '......0180 Weisslingen', '......0181 Wila', '......0182 Wildberg', '......0296 Illnau-Effretikon', '......0297 Bauma', '>> Bezirk Uster', '......0191 Dübendorf', '......0192 Egg', '......0193 Fällanden', '......0194 Greifensee', '......0195 Maur', '......0196 Mönchaltorf', '......0197 Schwerzenbach', '......0198 Uster', '......0199 Volketswil', '......0200 Wangen-Brüttisellen', '>> Bezirk Winterthur', '......0211 Altikon', '......0213 Brütten', '......0214 Dägerlen', '......0215 Dättlikon', '......0216 Dinhard', '......0218 Ellikon an der Thur', '......0219 Elsau', '......0220 Hagenbuch', '......0221 Hettlingen', '......0223 Neftenbach', '......0224 Pfungen', '......0225 Rickenbach (ZH)', '......0226 Schlatt (ZH)', '......0227 Seuzach', '......0228 Turbenthal', '......0230 Winterthur', '......0231 Zell (ZH)', '......0294 Elgg', '......0298 Wiesendangen', '>> Bezirk Dietikon', '......0241 Aesch (ZH)', '......0242 Birmensdorf (ZH)', '......0243 Dietikon', '......0244 Geroldswil', '......0245 Oberengstringen', '......0246 Oetwil an der Limmat', '......0247 Schlieren', '......0248 Uitikon', '......0249 Unterengstringen', '......0250 Urdorf', '......0251 Weiningen (ZH)', '>> Bezirk Zürich', '......0261 Zürich', nan]

Resetting the index before merge

In [9]:
#resetting the index
p.reset_index(inplace = True, drop = True) # Drop old index too

In [10]:
#resetting the index
q.reset_index(inplace = True, drop = True) # Drop old index too

Merging p and q

In [11]:
inner = pd.merge(p,q,how='left',on=['Municipality','Year'])

print(f'Number of municipalities = {len(inner.Municipality.unique())}')
print(f'Number of years          = {len(inner.Year.unique())}')

Number of municipalities = 162
Number of years          = 23

In [12]:
inner.head()

,Year,ID_x,Municipality,Category,Price,Currency,ID_y,Type,Value_t,Unit
0,2022,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,NaN,NaN,NaN,NaN
1,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,1.0,Brennbare Abfälle und Sperrgut,323.0,Tonnen
2,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,1.0,Biogene Abfälle,384.0,Tonnen
3,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,1.0,Papier,81.0,Tonnen
4,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,1.0,Karton,59.0,Tonnen

Resetting index of pop

In [13]:
#resetting the index
pop.reset_index(inplace = True, drop = True) # Drop old index too

Changing dtype before merging pop on to inner(p and q)

In [14]:
pop.info()
#convert Municipality in population data into str 
pop['Municipality'] = pop['Municipality'].astype('string')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3890 entries, 0 to 3889
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    47 non-null     object
 1   Year          22 non-null     float64
 2   Municipality  3850 non-null   object
 3   Unnamed: 3    3850 non-null   object
 4   Unnamed: 4    3850 non-null   object
 5   Population    3850 non-null   float64
dtypes: float64(2), object(4)
memory usage: 182.5+ KB

In [ ]:
pop.info()

In [ ]:
inner.info()

In [15]:
#convert Municipality in population data into str 
inner['Year'] = inner['Year'].astype('float')
inner['Municipality'] = inner['Municipality'].astype('string')

In [ ]:
inner.info()
pop.info()

In [ ]:
inner.describe()

In [16]:
del inner['ID_y'], inner['ID_x']
inner.head(10)

,Year,Municipality,Category,Price,Currency,Type,Value_t,Unit
0,2022.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,NaN,NaN,NaN
1,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Brennbare Abfälle und Sperrgut,323.0,Tonnen
2,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Biogene Abfälle,384.0,Tonnen
3,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Papier,81.0,Tonnen
4,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Karton,59.0,Tonnen
5,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Papier + Karton falls nicht separat angegeben,NaN,Tonnen
6,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Glas,100.0,Tonnen
7,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Metalle,18.0,Tonnen
8,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Textilien,0.0,Tonnen
9,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Kunststoffe,NaN,Tonnen

Merging pop on to inner(p and q)

In [17]:
inner_with_pop = pd.merge(inner, pop, on='Municipality', how='left')
inner_with_pop.head(10)
#inner_with_pop.sample

,Year_x,Municipality,Category,Price,Currency,Type,Value_t,Unit,Unnamed: 0,Year_y,Unnamed: 3,Unnamed: 4,Population
0,2022.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Brennbare Abfälle und Sperrgut,323.0,Tonnen,NaN,NaN,NaN,NaN,NaN
2,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Biogene Abfälle,384.0,Tonnen,NaN,NaN,NaN,NaN,NaN
3,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Papier,81.0,Tonnen,NaN,NaN,NaN,NaN,NaN
4,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Karton,59.0,Tonnen,NaN,NaN,NaN,NaN,NaN
5,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Papier + Karton falls nicht separat angegeben,NaN,Tonnen,NaN,NaN,NaN,NaN,NaN
6,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Glas,100.0,Tonnen,NaN,NaN,NaN,NaN,NaN
7,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Metalle,18.0,Tonnen,NaN,NaN,NaN,NaN,NaN
8,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Textilien,0.0,Tonnen,NaN,NaN,NaN,NaN,NaN
9,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Kunststoffe,NaN,Tonnen,NaN,NaN,NaN,NaN,NaN

Deleting unwanted columns

In [18]:
del inner_with_pop['Unnamed: 0'], inner_with_pop['Unnamed: 3'], inner_with_pop['Unnamed: 4']
inner_with_pop.head(10)

,Year_x,Municipality,Category,Price,Currency,Type,Value_t,Unit,Year_y,Population
0,2022.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,NaN,NaN,NaN,NaN,NaN
1,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Brennbare Abfälle und Sperrgut,323.0,Tonnen,NaN,NaN
2,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Biogene Abfälle,384.0,Tonnen,NaN,NaN
3,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Papier,81.0,Tonnen,NaN,NaN
4,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Karton,59.0,Tonnen,NaN,NaN
5,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Papier + Karton falls nicht separat angegeben,NaN,Tonnen,NaN,NaN
6,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Glas,100.0,Tonnen,NaN,NaN
7,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Metalle,18.0,Tonnen,NaN,NaN
8,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Textilien,0.0,Tonnen,NaN,NaN
9,2021.0,Aeugst a.A.,Grundgebuehr,204.63,CHF,Kunststoffe,NaN,Tonnen,NaN,NaN

In [19]:
inner_with_pop.describe()

             Year_x         Price        Value_t  Year_y  Population
count  69660.000000  69247.000000   64218.000000     0.0         0.0
mean    2011.223256     55.082090     387.825407     NaN         NaN
std        6.578830     61.940519    2829.376847     NaN         NaN
min     2000.000000      0.000000       0.000000     NaN         NaN
25%     2005.000000      1.800000       2.000000     NaN         NaN
50%     2011.000000      2.500000      52.000000     NaN         NaN
75%     2017.000000    105.000000     250.000000     NaN         NaN
max     2022.000000    290.000000  104809.000000     NaN         NaN

Checking types

In [20]:
inner_with_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69660 entries, 0 to 69659
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year_x        69660 non-null  float64
 1   Municipality  69660 non-null  string
 2   Category      69247 non-null  object
 3   Price         69247 non-null  float64
 4   Currency      69660 non-null  object
 5   Type          69336 non-null  object
 6   Value_t       64218 non-null  float64
 7   Unit          69336 non-null  object
 8   Year_y        0 non-null      float64
 9   Population    0 non-null      float64
dtypes: float64(5), object(4), string(1)
memory usage: 5.8+ MB