In [2]:
# For Venn diagrams
%pip install matplotlib-venn

import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})
from matplotlib_venn import venn2 # `pip install matplotlib-venn`

Checking that we are using the correct data-subfolder and that it consist of the data we want' to work with

In [7]:
import os 

# Using assert to check that paths exist on computer.
assert os.path.isdir('data/')
assert os.path.isfile('data/population_2.xlsx')
assert os.path.isfile('data/Prices.csv')
assert os.path.isfile('data/Quantity.csv')

# Print everything in data
os.listdir('data/')

['population_2.xlsx', 'population_px.px', 'Prices.csv', 'Quantity.csv']

Reading in data

In [5]:
pop = pd.read_excel('Data/population_2.xlsx')
p = pd.read_csv('Data/Prices.csv')
q = pd.read_csv('Data/Quantity.csv')

In [9]:
pop.head(10)

,Demographic balance by institutional units,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Population on 31 December
2,2000,2000.0,- Zürich,Citizenship (category) - total,Sex - total,1211647
3,NaN,NaN,>> Bezirk Affoltern,Citizenship (category) - total,Sex - total,41455
4,NaN,NaN,......0001 Aeugst am Albis,Citizenship (category) - total,Sex - total,1517
5,NaN,NaN,......0002 Affoltern am Albis,Citizenship (category) - total,Sex - total,9933
6,NaN,NaN,......0003 Bonstetten,Citizenship (category) - total,Sex - total,3896
7,NaN,NaN,......0004 Hausen am Albis,Citizenship (category) - total,Sex - total,3038
8,NaN,NaN,......0005 Hedingen,Citizenship (category) - total,Sex - total,2994
9,NaN,NaN,......0006 Kappel am Albis,Citizenship (category) - total,Sex - total,867