In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
%load_ext autoreload
%autoreload 2

In [10]:
prices = pd.read_csv('Prices.csv')
quantity = pd.read_csv('Quantity.csv')
prices.sample(10)

       Jahr  Gemeinde_Nr          Gemeinde        Abfallart   Wert Einheit
17091  2003          111         Bäretswil            Altöl    1.0  Tonnen
30670  2016          241             Aesch            Altöl    1.0  Tonnen
5565   2021           33  Kleinandelfingen  Biogene Abfälle  446.0  Tonnen
27254  2015          213           Brütten          Metalle    9.0  Tonnen
23351  2020          173           Hittnau        Grubengut   11.0  Tonnen

In [11]:
quantity.sample(5)

,Jahr,Gemeinde_Nr,Gemeinde,Abfallart,Wert,Einheit
4218,2006,26,Dorf,Biogene Abfälle,27.0,Tonnen
15832,2000,97,Rümlang,Glas,178.0,Tonnen
19543,2016,135,Kilchberg,Grubengut,64.0,Tonnen
5167,2019,31,Henggart,Glas,72.0,Tonnen
17827,2016,115,Gossau,Papier + Karton falls nicht separat angegeben,NaN,Tonnen

In [ ]:
prices.merge(quantity,how='left')