In [156]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
from pyaxis import pyaxis
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [157]:
prices = pd.read_csv('Prices.csv')
quantity = pd.read_csv('Quantity.csv')
print(prices.columns, quantity.columns)
prices.sample(10)

Index(['Year', 'ID', 'Municipality', 'Category', 'Price', 'Currency'], dtype='object') Index(['Year', 'ID', 'Municipality', 'Type', 'Value_t', 'Unit'], dtype='object')

      Year   ID  Municipality      Category  Price Currency
4632  2013  154      Küsnacht     35-L-Sack    1.4      CHF
4191  2017  135     Kilchberg  Grundgebuehr  130.0      CHF
4453  2008  141       Thalwil     35-L-Sack    2.3      CHF
5157  2017  178      Russikon  Grundgebuehr   97.2      CHF
7258  2009  294          Elgg     35-L-Sack    1.8      CHF
3012  2000   89   Niederglatt  Grundgebuehr  215.0      CHF
2708  2005   82     Boppelsen     35-L-Sack    2.1      CHF
4262  2015  136  Langnau a.A.     35-L-Sack    1.6      CHF
176   2007    4   Hausen a.A.     35-L-Sack    1.8      CHF
2269  2007   65   Oberembrach  Grundgebuehr   90.0      CHF

In [158]:
print('The quantity data set covers', min(quantity['Year']), 'until', max(quantity['Year']),'and contains',max(quantity['ID']),'municipalities')
print('The prices data set covers', min(prices['Year']), 'until', max(prices['Year']), 'and contains',max(prices['ID']),'municipalities')

The quantity data set covers 2000 until 2021 and contains 298 municipalities
The prices data set covers 2000 until 2022 and contains 298 municipalities

In [159]:
prices_quantity = pd.merge(prices, quantity, on=['Year', 'ID'])
prices_quantity

,Year,ID,Municipality_x,Category,Price,Currency,Municipality_y,Type,Value_t,Unit
0,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,Aeugst a.A.,Brennbare Abfälle und Sperrgut,323.0,Tonnen
1,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,Aeugst a.A.,Biogene Abfälle,384.0,Tonnen
2,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,Aeugst a.A.,Papier,81.0,Tonnen
3,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,Aeugst a.A.,Karton,59.0,Tonnen
4,2021,1,Aeugst a.A.,Grundgebuehr,204.63,CHF,Aeugst a.A.,Papier + Karton falls nicht separat angegeben,NaN,Tonnen
...,...,...,...,...,...,...,...,...,...,...
69331,2000,298,Wiesendangen,35-L-Sack,1.80,CHF,Wiesendangen,Papier + Karton falls nicht separat angegeben,0.0,Tonnen
69332,2000,298,Wiesendangen,35-L-Sack,1.80,CHF,Wiesendangen,Glas,828.0,Tonnen
69333,2000,298,Wiesendangen,35-L-Sack,1.80,CHF,Wiesendangen,Metalle,382.0,Tonnen
69334,2000,298,Wiesendangen,35-L-Sack,1.80,CHF,Wiesendangen,Altöl,3.0,Tonnen
69335,2000,298,Wiesendangen,35-L-Sack,1.80,CHF,Wiesendangen,Grubengut,39.0,Tonnen

In [160]:
prices_quantity = prices_quantity.rename(columns={'Year': 'year'})
prices_quantity.sample(5)

,year,ID,Municipality_x,Category,Price,Currency,Municipality_y,Type,Value_t,Unit
68499,2021,297,Bauma,35-L-Sack,1.25,CHF,Bauma,Metalle,80.0,Tonnen
12083,2018,35,Marthalen,35-L-Sack,1.30,CHF,Marthalen,Kunststoffe,NaN,Tonnen
68430,2002,296,Illnau-Effretikon,Grundgebuehr,107.60,CHF,Illnau-Effretikon,Papier + Karton falls nicht separat angegeben,0.0,Tonnen
3123,2016,8,Maschwanden,Grundgebuehr,65.00,CHF,Maschwanden,Glas,13.0,Tonnen
57419,2019,221,Hettlingen,35-L-Sack,1.60,CHF,Hettlingen,Papier,75.0,Tonnen

In [161]:
ind = pd.read_excel('population_2.xlsx',skiprows=2)["Unnamed: 1"].values

In [162]:
l =[]
for i in ind:
    if i >200:
        print(i)
        k = i
    else: i =k
    l.append(k)

2000.0
2001.0
2002.0
2003.0
2004.0
2005.0
2006.0
2007.0
2008.0
2009.0
2010.0
2011.0
2012.0
2013.0
2014.0
2015.0
2016.0
2017.0
2018.0
2019.0
2020.0
2021.0

In [163]:
df =pd.read_excel('population_2.xlsx',skiprows=2)
df["IDX"] =l
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Population on 31 December,IDX
0,2000,2000.0,- Zürich,Citizenship (category) - total,Sex - total,1211647.0,2000.0
1,NaN,NaN,>> Bezirk Affoltern,Citizenship (category) - total,Sex - total,41455.0,2000.0
2,NaN,NaN,......0001 Aeugst am Albis,Citizenship (category) - total,Sex - total,1517.0,2000.0
3,NaN,NaN,......0002 Affoltern am Albis,Citizenship (category) - total,Sex - total,9933.0,2000.0
4,NaN,NaN,......0003 Bonstetten,Citizenship (category) - total,Sex - total,3896.0,2000.0
...,...,...,...,...,...,...,...
3885,Database:,NaN,NaN,NaN,NaN,NaN,2021.0
3886,"FSO - STAT-TAB / Federal Statistical Office, 2...",NaN,NaN,NaN,NaN,NaN,2021.0
3887,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
3888,Internal reference code:,NaN,NaN,NaN,NaN,NaN,2021.0
3889,px-x-0102020000_201,NaN,NaN,NaN,NaN,NaN,2021.0

In [164]:
df.tail(50)
end =3714 - 3675	
df = df[:-end-1]

In [165]:
df["Unnamed: 2"].value_counts()

- Zürich                    22
......0172 Fehraltorf       22
......0155 Männedorf        22
......0156 Meilen           22
......0157 Oetwil am See    22
                            ..
......0071 Wil (ZH)         22
......0072 Winkel           22
>> Bezirk Dielsdorf         22
......0081 Bachs            22
......0261 Zürich           22
Name: Unnamed: 2, Length: 175, dtype: int64

In [166]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Population on 31 December', 'IDX'],
      dtype='object')

In [167]:
df = df[['Unnamed: 2','Population on 31 December', 'IDX']]
df

                         Unnamed: 2  Population on 31 December     IDX
0                          - Zürich                  1211647.0  2000.0
1               >> Bezirk Affoltern                    41455.0  2000.0
2        ......0001 Aeugst am Albis                     1517.0  2000.0
3     ......0002 Affoltern am Albis                     9933.0  2000.0
4             ......0003 Bonstetten                     3896.0  2000.0
...                             ...                        ...     ...
3845    ......0249 Unterengstringen                     4116.0  2021.0
3846              ......0250 Urdorf                    10222.0  2021.0
3847      ......0251 Weiningen (ZH)                     4863.0  2021.0
3848               >> Bezirk Zürich                   423193.0  2021.0
3849              ......0261 Zürich                   423193.0  2021.0

[3850 rows x 3 columns]

In [168]:
# create a boolean mask based on the values in the "Unnamed: 2" column
mask = df["Unnamed: 2"].str.contains("0")

# filter the DataFrame to show only the rows that meet the condition
filtered_df = df[mask]

# print the filtered DataFrame
filtered_df

                         Unnamed: 2  Population on 31 December     IDX
2        ......0001 Aeugst am Albis                     1517.0  2000.0
3     ......0002 Affoltern am Albis                     9933.0  2000.0
4             ......0003 Bonstetten                     3896.0  2000.0
5        ......0004 Hausen am Albis                     3038.0  2000.0
6               ......0005 Hedingen                     2994.0  2000.0
...                             ...                        ...     ...
3844             ......0248 Uitikon                     5030.0  2021.0
3845    ......0249 Unterengstringen                     4116.0  2021.0
3846              ......0250 Urdorf                    10222.0  2021.0
3847      ......0251 Weiningen (ZH)                     4863.0  2021.0
3849              ......0261 Zürich                   423193.0  2021.0

[3564 rows x 3 columns]

In [169]:
# create a dictionary of old and new column names
new_names = {'Unnamed: 2': 'Municipality', 'Population on 31 December': 'Population', 'IDX': 'year'}

# rename the columns using the dictionary
filtered_df = df[mask].rename(columns=new_names)

# print the modified DataFrame
filtered_df

                       Municipality  Population    year
2        ......0001 Aeugst am Albis      1517.0  2000.0
3     ......0002 Affoltern am Albis      9933.0  2000.0
4             ......0003 Bonstetten      3896.0  2000.0
5        ......0004 Hausen am Albis      3038.0  2000.0
6               ......0005 Hedingen      2994.0  2000.0
...                             ...         ...     ...
3844             ......0248 Uitikon      5030.0  2021.0
3845    ......0249 Unterengstringen      4116.0  2021.0
3846              ......0250 Urdorf     10222.0  2021.0
3847      ......0251 Weiningen (ZH)      4863.0  2021.0
3849              ......0261 Zürich    423193.0  2021.0

[3564 rows x 3 columns]

In [170]:
# We divide now the table filtered_df in order to have the ID from the municipality in other column and merge it with the quantity data.

# split the Municipality column into two columns
filtered_df[['ID', 'Municipality']] = filtered_df['Municipality'].str.split(' ', 1, expand=True)

# remove the leading zeros and convert the ID column to integer
filtered_df['ID'] = filtered_df['ID'].str[6:].astype(int)

# print the resulting dataframe with the new columns
print(filtered_df[['ID', 'Municipality', 'Population', 'year']])

       ID        Municipality  Population    year
2       1     Aeugst am Albis      1517.0  2000.0
3       2  Affoltern am Albis      9933.0  2000.0
4       3          Bonstetten      3896.0  2000.0
5       4     Hausen am Albis      3038.0  2000.0
6       5            Hedingen      2994.0  2000.0
...   ...                 ...         ...     ...
3844  248             Uitikon      5030.0  2021.0
3845  249    Unterengstringen      4116.0  2021.0
3846  250              Urdorf     10222.0  2021.0
3847  251      Weiningen (ZH)      4863.0  2021.0
3849  261              Zürich    423193.0  2021.0

[3564 rows x 4 columns]

In [172]:
# Now we merge 'filtered_df' with 'quantity' to have the whole dataset:

merged_df = pd.merge(filtered_df, prices_quantity, on=['year', 'ID'])
merged_df.head(20)

,Municipality,Population,year,ID,Municipality_x,Category,Price,Currency,Municipality_y,Type,Value_t,Unit
0,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Brennbare Abfälle und Sperrgut,240.0,Tonnen
1,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Biogene Abfälle,161.0,Tonnen
2,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Papier,61.0,Tonnen
3,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Karton,54.0,Tonnen
4,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Papier + Karton falls nicht separat angegeben,0.0,Tonnen
5,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Glas,65.0,Tonnen
6,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Metalle,12.0,Tonnen
7,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Altöl,1.0,Tonnen
8,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,Grundgebuehr,170.0,CHF,Aeugst a.A.,Grubengut,0.0,Tonnen
9,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Brennbare Abfälle und Sperrgut,240.0,Tonnen
10,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Biogene Abfälle,161.0,Tonnen
11,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Papier,61.0,Tonnen
12,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Karton,54.0,Tonnen
13,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Papier + Karton falls nicht separat angegeben,0.0,Tonnen
14,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Glas,65.0,Tonnen
15,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Metalle,12.0,Tonnen
16,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Altöl,1.0,Tonnen
17,Aeugst am Albis,1517.0,2000.0,1,Aeugst a.A.,35-L-Sack,2.0,CHF,Aeugst a.A.,Grubengut,0.0,Tonnen
18,Affoltern am Albis,9933.0,2000.0,2,Affoltern a.A.,Grundgebuehr,120.0,CHF,Affoltern a.A.,Brennbare Abfälle und Sperrgut,1612.0,Tonnen
19,Affoltern am Albis,9933.0,2000.0,2,Affoltern a.A.,Grundgebuehr,120.0,CHF,Affoltern a.A.,Biogene Abfälle,1200.0,Tonnen

In [173]:
# 1. Brennbare
# 2. 35
# quantity/pop

# maybe combine the others in recycling